.mainbody{
  background-color: #C9F9FF;
}
.midsection{
  padding-top: 20px;
  padding-bottom: 20px;
}
.container-fluid{
  font-weight: 700;
  width: 100%;
  height: 230px;
  font-family: 'Roboto Slab', serif;
}

.dropbtn {
  font-weight: 700;
  background-color: #C9F9FF;
  padding-top: 8px;
  font-size: 16px;
  border: none;
  font-family: 'Roboto Slab', serif;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #C9F9FF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #B8B3BE;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #C9F9FF;}

#fb{
  color: blue;
}

#twt{
  color: #66C7F4;
}

#gg{
  color: #715AFF;
}

#ig{
  color: #AF4D98;
}

.card-body{
  width: 300px;
  height: 100px;
}
.footer{
  padding-top: 100px;
  background-color: #C9F9FF;
}
.midbtn{
  padding: 450px 0px 0px 130px ;
}
.bg-image{
  padding-left: 20px;
}
.scfnl{
  padding-top: 20px;
}
.col1{
  width: 300px;
  height: 600px;
}
.form1{
  width: 45%;
  float: left;
  padding-left: 10px;
}
.card2{
  width: 45%;
  float: right;
  padding-right: 10px;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-50,.col-75 {
padding: 0 16px;
}

.container3 {
  background-color: #C9F9FF;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn:hover {
  background-color: #E4572E;
}
.container1{
  padding-left: 20px;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
.about{
   padding:5% 0;
   width:100%;
   height:auto;
   background-color:#fff;
}
.about .left{
   padding:2% 0;
   float:left;
   width:50%;
   display:inline-block;
}
.about .right{
   width:50%;
   display:inline-block;
}
.about .right img{
   width:100%;
   border-radius: 10px;
}
.about .left h1{
   text-align:center;
   color:#1EADFF;
   margin:0 0 10px 0;
}
.about .left hr{
   width:20%;
   border-top:2px solid #000;
   border-bottom:none;
}
.about .left p{
   font-size:1rem;
   margin:40px auto;
   width:80%
}

.mission{
   padding:5% 0;
   width:100%;
   height:auto;
   background-color: #C9F9FF;
}
.mission .right{
   padding:2% 0;
   width:50%;

   display:inline-block;
}
.mission .left{
   float:left;
   width:50%;
  display:inline-block;
}
.mission .left img{
   width:100%;
  border-radius: 10px;
}
.mission .right h1{
   text-align:center;
   color:#1EADFF;
   margin:0 0 20px 0;
}
.mission .right hr{
   width:35%;
   border-top:2px solid #000;
   border-bottom:none;
}
.mission .right p{
   font-size:1rem;
   margin:40px auto;
   width:80%
}
.about{
  background-color: #C9F9FF;
}
.container2{
  position: relative;
  background-color: #183446;
  padding: 20px 0 30px 0;
  border-radius: 20px 20px 0px 0px;
  margin: 0 auto;
  width: 40%;

}

/* style inputs and link buttons */
input,
.btn1 {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col2 {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #183446;
  height: auto;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #183446;
  border-radius: 0px 0px 20px 20px;
  width: 40%;
  margin: 0 auto;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col2 {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
.login{
  width: 100%;
  padding-top: 50px;
  background-color: #C9F9FF;
}
strike{
  color: red;
}